body {
  background-color: rgb(40, 40, 40)
}

h1 {
  margin-top: 10rem;
  text-align: center;
  color: rgb(180, 180, 180)
}

form {
  margin-top: 5rem;
  text-align: center;
  color: rgb(180, 180, 180)
}

input[type=text] {
  width: 40rem;
  padding: 0.5rem 1rem;
  margin: 1rem 0rem;
  box-sizing: border-box;
  background-color: rgb(50, 50, 50);
  color: rgb(220, 220, 220);
  border: none;
}

input[type=text]:focus {
  background-color: rgb(70, 70, 70);
  outline: none;
}

input[type=submit] {
  width: 10rem;
  height: 3rem;
  font-size: 1rem;
  background-color: rgb(90, 90, 90);
  color: rgb(220, 220, 220);
  border: none
}

.cookie_img {
  margin-left: auto;
  margin-right: auto;
  background-size: contain;
  background-repeat: no-repeat;
  display: table;
  text-align: center;
  position: relative
}

.imshow {  
  width: 70rem;
  height: 23rem;
  margin-top: 3rem;
  background-image: url("cookie.svg");
}

.spinner {
  width: 20rem;
  height: 8rem;
  margin-top: 8rem;
  background-image: url("spinner.gif");
}

.cookie_txt {
  padding-bottom: 5.5rem;
  vertical-align: middle;
  padding-left: 25rem;
  padding-right: 25rem;
  font-size: 1rem;
  color: rgb(20, 20, 20);
}

.show {
  display: table-cell;
}

.hide {
  display: none;
}

