
<html>
  <head>
    <link rel="stylesheet" href="/static/main.css">
    <script type="text/javascript">
      function startSpinner() {
        document.getElementById("cookie_img").className="cookie_img spinner";
        document.getElementById("cookie_txt").className="cookie_txt hide";
      }
    </script>
    <title>Fortune.Cookie.ai</title>
  </head>
  <body>
    <h1>Fortune.Cookie.ai</h1>
    <form action = "{{ url_for('generate_fortune') }}" method = "POST">
      <p>Optional prefix: <input type = "text" name = "prefix" /></p>
      <p><input type = "submit" value = "More cookies!" onclick="startSpinner()"/></p>
    </form>
    <div id="cookie_img" class="cookie_img imshow">
      <p></p>
      <p id="cookie_txt" class="cookie_txt show">{{ fortune_cookie_text }}</p>
    </div>
  </body>
</html>
